
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>У вас нету доступа на эту страничку.</title>
</head>
<body>
    <div>
        <p>У вас нету доступа на эту страничку.</p>
    </div>
</body>
</html>
