.form-control-inline {
    min-width: 0;
    width: auto;
    display: inline;
}

.first_name, .last_name {
    font-weight: bold;
    color: gray;
    font-size: 12px;
}

.comment_time {
    color: grey;
    font-size: 12px;
}

.trix-content {
    height: 100px;
}

.img-container img {
    width: 100%;
    height: 100%;
}

.content img{
    width:100%;
    height:70%;
    border-radius:0px;
}
.comment_message {
    padding: 10px;
}

#commentBody {
    padding: 20px;
}

.img-container iframe {
    width: 100%;
}

div .wrapper {
    width: 60%;
    margin-left: auto;
    margin-right: auto;
    display: block;
    background-color: white;
    padding: 30px;
}

div .content {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
}

@media (min-width: 768px) and (max-width: 991px) {
    div .wrapper {
        width: 100%;
    }

    .social {
        width: 100%;
        display: block;
    }
}

@media (max-width: 767px) {
    div .wrapper

{
    width: 100%;
}

.social {
    width: 100%;
    display: block;
}
}

.caption div {
    box-shadow: 0 0 5px #C8C8C8;
    transition: all 0.3s ease 0s;
}

.img-circle {
    border-radius: 50%;
}

.img-circle {
    border-radius: 0;
}

.ratio {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 0;
    padding-bottom: 100%;
    position: relative;
    width: 100%;
}

.img-circle {
    border-radius: 50%;
}

.img-responsive {
    display: block;
    height: auto;
    max-width: 100%;
}
